@model IEnumerable<HilbertsGrandHotel_KP.Models.Rezervacija>
@using Microsoft.AspNetCore.Identity
@using HilbertsGrandHotel_KP.Data
@inject SignInManager<MojRegisteredUser> SignInManager
@inject UserManager<MojRegisteredUser> UserManager

@{
    ViewData["Title"] = "Rezervacija Step 1";
    var soba = (HilbertsGrandHotel_KP.Models.Soba)ViewData["soba"];
    var korisnik = (MojRegisteredUser)ViewData["Korisnik"];
}

<section class="page">

    <!-- ===  Page header === -->

    <div class="page-header" style="background-image:url(../assets/images/workspace-1.webp)">
        <div class="container">
            <h2 class="title">Make a reservation</h2>
            <p>Proceed to booking step 2</p>
        </div>
    </div>

    <!-- ===  Checkout steps === -->

    <div class="step-wrapper">
        <div class="container">
            <div class="stepper">
                <ul class="row">
                    <li class="col-md-4 active">
                        <a href=""><span data-text="Room & rates"></span></a>
                    </li>
                    <li class="col-md-4">
                        <a href=""><span data-text="Reservation"></span></a>
                    </li>
                    <li class="col-md-4">
                        <a href="reservation-3.html"><span data-text="Checkout"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- ===  Checkout === -->

    <div class="checkout">

        <div class="container">

            <div class="clearfix">

                <!-- ========================  Cart wrapper ======================== -->

                <div class="cart-wrapper">

                    <!--cart header -->

                    <div class="cart-block cart-block-header clearfix">
                        <div>
                            <span>Room type</span>
                        </div>
                        <div class="text-right">
                            <span>Price</span>
                        </div>
                    </div>

                    <!--cart items-->

                    <div class="clearfix">

                        <div class="cart-block cart-block-item clearfix">
                            <div class="image">
                                <a href="room-overview.html"><img src="../assets/images/room-6.webp" alt="" /></a>
                            </div>
                            <div class="title">
                                <div class="h2"><a href="room-overview.html">Luxury appartment no. @soba.ID</a></div>
                                <p>
                                    <strong>Arrival date</strong> <br /> @soba.datumPrijave
                                </p>
                                <p>
                                    <strong>Guests</strong> <br />  @soba.brojGostiju
                                </p>
                                <p>
                                    <strong>From</strong> <br /> @soba.datumPrijave  <br /> <strong>To</strong> <br /> @soba.datumOdjave
                                </p>
                            </div>
                            <div class="price">
                                <span class="final h3">@soba.cijena</span>
                                <span class="discount">@soba.cijena</span>
                            </div>
                            <!--delete-this-item-->
                            <span class="icon icon-cross icon-delete"></span>
                        </div>

                    </div>

                    <!--cart prices -->

                    <div class="clearfix">
                        
                        <div class="cart-block cart-block-footer clearfix">
                            <div>
                                <strong>TAX</strong>
                            </div>
                            <div>
                                <span>09,00 KM</span>
                            </div>
                        </div>
                    </div>

                    <!--cart final price -->

                    <div class="clearfix">
                        <div class="cart-block cart-block-footer cart-block-footer-price clearfix">
                            <div>
                                <span class="checkbox">
                                    <input type="checkbox" id="couponCodeID">
                                    <label for="couponCodeID">Promo code</label>
                                    <input type="text" class="form-control form-coupon" value="" placeholder="Enter your coupon code" />
                                </span>
                            </div>
                            <div>
                                <div class="h2 title"> @soba.cijena KM</div>
                            </div>
                        </div>
                    </div>

                    <!-- ========================  Cart navigation ======================== -->

                    <div class="clearfix">
                        <div class="cart-block cart-block-footer cart-block-footer-price clearfix">
                            <div>
                                <a href="#" class="btn btn-clean-dark">Change</a>
                            </div>
                            <div>
                                <a asp-controller="Rezervacija" asp-action="Step2" asp-route-id="@soba.ID" class="btn btn-main">Reservation <span class="icon icon-chevron-right"></span></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div> <!--/container-->
    </div> <!--/checkout-->

</section>



<!-- ========================  Subscribe ======================== -->

<section class="subscribe">
    <div class="container">
        <div class="box">
            <h2 class="title">Subscribe</h2>
            <div class="text">
                <p>& receive free premium gifts</p>
            </div>
            <div class="form-group">
                <input type="text" value="" placeholder="Subscribe" class="form-control" />
                <button class="btn btn-sm btn-main">Go</button>
            </div>
        </div>
    </div>
</section> 